<template name="postItem">
  <div class="post">
    <a href="#" class="upvote btn btn-default {{upvotedClass}}">⬆</a>
    <div class="post-content">
      <h3><a href="{{url}}">{{title}}</a>
      <span>{{ticketInfo ticketId}}</span>
      </h3>
      <p>
        热度：{{votes}}
        发帖者: {{author}},
        <a href="{{pathFor 'postPage'}}">{{commentsCount}}评论</a>
        {{#if ownPost}}<a href="{{pathFor 'postEdit'}}">编辑</a>{{/if}}
      </p>
    </div>
    <a href="{{pathFor 'postPage'}}" class="discuss btn btn-default">评论</a>
  </div>
</template>
